In [48]:
from duckdb import connect
import pandas as pd

conn = connect()
df = conn.execute('''create table testando as select * from read_parquet("../parquet_files/olist_customers_dataset.parquet");
                  pragma table_info(testando)''')
df = df.fetch_df()
df

   cid                      name     type  notnull dflt_value     pk
0    0               customer_id  VARCHAR    False       None  False
1    1        customer_unique_id  VARCHAR    False       None  False
2    2  customer_zip_code_prefix  VARCHAR    False       None  False
3    3             customer_city  VARCHAR    False       None  False
4    4            customer_state  VARCHAR    False       None  False